*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-size: 45px;
  margin-bottom: 10px;
}

h2{
  font-size: 50px;
}

.wrapper{
  height: 30vh;
  display: flex;
  overflow-x: auto;
  margin-bottom: 10px;
}

.wrapper::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.wrapper .item{
  min-width: 400px;
  height: inherit;
  margin-right: 10px;
  line-height: 110px;
  text-align: center;
  background-color: #ddd;
}